<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<header>
    <h1 style="font-family: Garamond"> My Profile</h1>
</header>

<body style="font-family: Garamond">

<form>
    <table>
        <tr>
            <td align="right">First Name:</td>
            <td align="left"><input type="text" name="first"/></td>
        </tr>
        <tr>
            <td align="right">Last Name:</td>
            <td align="left"><input type="text" name="last"/></td>
        </tr>
        <tr>
            <td align="right">Subject:</td>
            <td align="left"><input type="text" name="email"/></td>
        </tr>
    </table>
</form>
</div>
<br>
<input type="submit" value="Submit" style="font-family: Garamond">
<br>
<br>
<br>
<a href="{{ url_for('type') }}">Go back</a>
</body>
</html>