<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Teacher Page</title>
</head>

<body>

<div id="navbar" class="navbar-collapse collapse ">
<header>
    <h1> Teacher </h1>
</header>
        <ul class="nav navbar-nav">
            <li><a href="/student/information">My info</a></li>
            <li><a href="/faqs">Schedule</a></li>
            <li><a href="/availability">Homework</a></li>
            <li><a href="/Quiz">Progress</a></li>
        </ul>

        <br>
    <br>
    <br>


        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('sign_out') }}">Logout <span class="sr-only"></span></a></li>
        </ul>
</div>

        <br>

</body>

</html>